body {
    font-family: 'Arial', sans-serif;
    background-color: #ccd5ae;
    color: #ccd5ae;
    border-radius:10px;
}
.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-link {
    font-size: 1.1rem;
}

.jumbotron {
    background:#e9edc9;
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 5px;
}

.jumbotron .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.card {
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 1.3rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
}


.contact-form {
    background-color: #e9edc9;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contact-form .form-control {
    margin-bottom: 1rem;
}


.footer {
    background-color: #ccd5ae;
    color: #a3b18a;
    padding: 1rem 0;
}

.footer .social-icons {
    margin-top: 0.5rem;
}

.footer .social-icon {
    color: #e9edc9;
    margin: 0 0.5rem;
}

.footer .social-icon:hover {
    color: #e9edc9;
}

@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }

    .jumbotron .container {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}
